@font-face {
  font-family: "flaticon";
  src:
    url("./flaticon.ttf?e6260ca42ac2476d612a537f74426da0") format("truetype"),
    url("./flaticon.woff?e6260ca42ac2476d612a537f74426da0") format("woff"),
    url("./flaticon.woff2?e6260ca42ac2476d612a537f74426da0") format("woff2"),
    url("./flaticon.eot?e6260ca42ac2476d612a537f74426da0#iefix") format("embedded-opentype"),
    url("./flaticon.svg?e6260ca42ac2476d612a537f74426da0#flaticon") format("svg");
}

:root {
  --flaticon: "flaticon";
}

i[class^="flaticon-"]::before,
i[class*=" flaticon-"]::before {
  font-family: var(--flaticon);
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-menu::before {
  content: "\f101";
}

.flaticon-close::before {
  content: "\f102";
}
