*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
    font-family: 'cocogoose-regular';
    src: url('/resources/font/cocogoose/Cocogoose-Pro-trial.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Prompt:wght@500&display=swap');

:root {
    --coco-regular: 'cocogoose-regular';
    --prompt-medium: 'Prompt', sans-serif;
    --lato: 'Lato', sans-serif;
    --gray-dark: #272a31;
    --orange: #ec5242;
    --orange-light: hsla(6, 82%, 59%, 0.637);
    --gray-light: #d3d3d3;
    --gray-lighter: #f5f5f5;
}

html {
    font-size: 62.5%;
}
  
body {
    padding: 2.5rem;
    background-image: url(./images/background-header-mobile.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--gray-lighter);
}

.button-menu {
    background: none;
    border: none;
}

.flaticon-menu,
.flaticon-close {
    font-size: 4rem;
}

.menu {
    display: none;
    background: var(--orange);
    position: absolute;
    margin : 0 -2.5rem 0 -2.5rem;
    width: 35%;
}

.menu li {
    text-align: right;
    padding: .5rem;
    list-style: none;
}

.menu a {
    font-family: var(--lato);
    color: var(--gray-dark);
    text-decoration: none;
    font-size: 2.5rem;
    font-weight: 800;
}

#visible {
    display: block;
    z-index: 1;
}

.scrollable {
    overflow-y: visible;
}
  
.notScrollable {
    overflow-y: hidden;
}

.home-greeting {
    margin: 1rem 0;
    font-family: var(--lato);
    color: var(--orange);
    font-size: 2rem;
    font-weight: 400;
}

.title-header-home {
    font-family: var(--coco-regular);
    color: var(--orange);
    font-size: 3.5rem;
    font-weight: 400;

}

.title-header-home span {
    font-family: var(--prompt-medium);
    font-weight: 1000;
}

.text-header-home {
    background-color: var(--gray-lighter);
    font-family: var(--lato);
    border: .75rem solid white;
    padding: 1rem;
    font-size: 1.5rem;   
    font-weight: 400;
}

.text-header-home strong {
    color: var(--orange);
}

.date-header-home {
    margin-top: 1.5rem;
    font-family: var(--prompt-medium);
    font-size: 2rem;
    font-weight: 900;
}

.date-header-home span {
    font-size: 1rem;
    font-family: var(--lato);
    font-weight: 400;
}